# Data Transformation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/train.csv")

In [3]:
df.isna().sum()

Unnamed: 0                  0
artist_name                 0
track_name                  0
release_date                0
genre                       0
lyrics                      0
len                         0
dating                      0
violence                    0
world/life                  0
night/time                  0
shake the audience          0
family/gospel               0
romantic                    0
communication               0
obscene                     0
music                       0
movement/places             0
light/visual perceptions    0
family/spiritual            0
sadness                     0
feelings                    0
topic                       0
age                         0
dtype: int64

After guaranteeing there aren't null or irregular values in the data through EDA, we can drop Unnamed:0, lyrics, and len for being unnecessary, and release_date and topic for being redundant.

In [4]:
selected = ["Unnamed: 0", "release_date", "lyrics", "len", "topic"]
df_dropped = df.drop(columns=selected)

Genre is still important for recommendation so instead of dropping it entirely, we will need to transorm it.

In [5]:
# list of genres
genres = ["pop", "country", "blues", "jazz", "reggae", "rock", "hip hop"]

# for loop to transorm each genre into a boolean value in each column
for genre in genres:
    df_dropped[genre] = 0
    df_dropped.loc[(df_dropped["genre"] == genre), genre] = 1

df_genre = df_dropped.drop(columns=["genre"])

In [7]:
# check for any mistakes in the transformation

df_genre.head()

,artist_name,track_name,dating,violence,world/life,night/time,shake the audience,family/gospel,romantic,communication,...,sadness,feelings,age,pop,country,blues,jazz,reggae,rock,hip hop
0,mukesh,mohabbat bhi jhoothi,0.000598,0.063746,0.000598,0.000598,0.000598,0.048857,0.017104,0.263751,...,0.380299,0.117175,1.0,1,0,0,0,0,0,0
1,frankie laine,i believe,0.035537,0.096777,0.443435,0.001284,0.001284,0.027007,0.001284,0.001284,...,0.001284,0.001284,1.0,1,0,0,0,0,0,0
2,johnnie ray,cry,0.002770,0.002770,0.002770,0.002770,0.002770,0.002770,0.158564,0.250668,...,0.002770,0.225422,1.0,1,0,0,0,0,0,0
3,pérez prado,patricia,0.048249,0.001548,0.001548,0.001548,0.021500,0.001548,0.411536,0.001548,...,0.225889,0.001548,1.0,1,0,0,0,0,0,0
4,giorgos papadopoulos,apopse eida oneiro,0.001350,0.001350,0.417772,0.001350,0.001350,0.001350,0.463430,0.001350,...,0.068800,0.001350,1.0,1,0,0,0,0,0,0

In [6]:
df_genre.to_csv("../data/processed/train_cleaned.csv")